# Setting up a connection to Postgresql
POSTGRESQL="postgresql+asyncpg://db_user:password_db@db:5432/project_db"
# Generate a key with -> openssl rand -hex 32
SECRET_KEY=
# Specify the encryption algorithm
ALGORITHM="HS256"

# POSTGRES_DB
POSTGRES_USER=db_user
POSTGRES_PASSWORD=password_db
POSTGRES_DB=project_db
