# Setting up a connection to Postgresql
POSTGRESQL="postgresql+asyncpg://db_user:user_password@localhost:5432/project_db"
# Generate a key with -> openssl rand -hex 32
SECRET_KEY=
# Specify the encryption algorithm
ALGORITHM="HS256"
